.GalleryList {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    list-style: none;
}

.GalleryList li {
    margin-right: 12px;
}

.GalleryList img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
}

.GalleryList .selected img {
    border: 4px solid orange;
}
