.MemoList {
    display: flex;
    flex-direction: column;
}

.MemoList li {
    cursor: pointer;
    word-break: break-all;
    max-height: 40px;
    line-height: 21px;
    overflow: hidden;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background: white;
    padding: 4px;
}

.MemoList .selected {
    max-height: 100%;
}
